/* Reset styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul and ol elements, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who have turned animations off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* End of reset styles */

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v22-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/lato-v22-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/lato-v22-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/lato-v22-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/lato-v22-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/lato-v22-latin-700.svg#Lato")
      format("svg"); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v19-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v19-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v19-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v19-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v19-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/poppins-v19-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v19-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v19-latin-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v19-latin-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v19-latin-500.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v19-latin-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v19-latin-500.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v19-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v19-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v19-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v19-latin-600.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v19-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v19-latin-600.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v19-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/poppins-v19-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/poppins-v19-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/poppins-v19-latin-700.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/poppins-v19-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/poppins-v19-latin-700.svg#Poppins")
      format("svg"); /* Legacy iOS */
}

$white: #ffffff;
$whiteblue: #f5fafe;
$black: #000000;
$lightblue: #e6f0ff;
$gray: #4f5361;
$blue: #063183;
$middlegray: #5a6473;
$lightgray: #687691;
$graywhite: #a7a7a7;
$darkblue: #0f1b4c;
$darkerblue: #000336;
$copyright: #c2c2c2;
$guides: #3b3c45;
$links: #0689ff;
$lato: "Lato";
$popins: "Poppins";

* {
  font-family: $popins;
}

a {
  text-decoration: none;
  color: $gray;
}

.header {
  background: $lightblue;
  padding: 50px 35px 0;
  margin-bottom: 120px;

  @media (min-width: 1024px) {
    padding: 50px 97px 0px;
  }
}

.logo-and-nav {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: space-between;
  padding: 0 0 40px 0;

  @media (min-width: 768px) {
    flex-direction: column;
    gap: 0;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 50px;
  }
}

.header__logo {
  align-self: flex-start;
  padding: 0 0 20px;

  @media (min-width: 768px) {
    align-self: flex-start;
    padding: 0;
  }

  @media (min-width: 1024px) {
    align-self: center;
  }
}

.header nav {
  display: flex;
  gap: 20%;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: unset;
  }
}

.nav-list-div {
  display: flex;
  flex-direction: column;
  gap: 0;
  align-self: center;

  @media (min-width: 768px) {
    align-self: unset;
    gap: 20px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 65px;
  }
}

.navlist {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.register {
  & ul {
    display: flex;
    flex-direction: column;
    gap: 18px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    & li:nth-child(1) {
      display: flex;
      align-self: center;

      @media (min-width: 768px) {
        align-self: unset;
      }

      & a {
        align-self: center;
        color: $darkblue;
      }
    }

    & li:nth-child(2) {
      background-color: $darkblue;
      padding: 10px 20px;
      border-radius: 8px;
      align-self: center;

      @media (min-width: 768px) {
        align-self: unset;
      }

      &:hover {
        background-color: $copyright;
        cursor: pointer;

        & a {
          color: $darkblue;
        }
      }

      & a {
        color: $white;
      }
    }
  }
}

.description-and-house {
  display: flex;
  flex-direction: column;

  @media (min-width: 1024px) {
    flex-direction: row;
  }
}

.header__description {
  text-align: center;

  @media (min-width: 768px) {
    padding: 0 55px 0 0;
    text-align: unset;
  }

  @media (min-width: 1024px) {
    width: 50%;
  }

  & h5 {
    font-family: $popins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: $lightgray;
    padding: 0 0 8px;
  }

  & h1 {
    font-family: $popins;
    font-weight: bold;
    font-size: 50px;
    line-height: 64px;
    color: $darkerblue;
    padding: 0 0 30px;

    @media (min-width: 1024px) {
      font-size: 64px;
      line-height: 76px;
    }
  }

  & p {
    font-family: $popins;
    font-size: 18px;
    line-height: 32px;
    text-transform: capitalize;
    color: $middlegray;
    padding: 0 0 40px;
  }

  & button {
    color: $white;
    border-radius: 12px;
    padding: 18px 38px;
    background-color: $darkblue;
    margin: 0 0 40px;

    @media (min-width: 768px) {
      margin: 0 0 40px;
    }

    @media (min-width: 1024px) {
      margin: 0;
    }

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

.main__reviews {
  display: flex;
  flex-direction: column;
  padding: 0 45px;

  @media (min-width: 768px) {
    padding: 0 165px;
  }
}

.logo-and-stars {
  display: flex;
  justify-content: space-between;
  padding: 0 0 23px 0;
}

.main__logo {
  align-self: center;
}

.main__subtitle-and-ratings {
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;

  @media (min-width: 1024px) {
    padding: 0 0 100px 0;
  }
}

.main__logos {
  display: flex;
  justify-content: space-between;
  padding: 0 0 60px;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;

  @media (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 30px;
    padding: 0 0 60px;
  }

  @media (min-width: 1024px) {
    padding: 0 0 100px;
    row-gap: 20px;
    column-gap: 60px;
    justify-content: center;
  }

  @media (min-width: 1440px) {
    flex-wrap: nowrap;
    padding: 0 0 160px;
    justify-content: space-between;
  }

  & img {
    align-self: center;
  }
}

.main__how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  @media (min-width: 768px) {
    padding: 0 0 40px;
  }

  @media (min-width: 1024px) {
    padding: 0 0 120px;
  }

  & h3 {
    font-family: $popins;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: $darkerblue;
    padding: 0 0 20px;
  }

  & p {
    font-family: $popins;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: $middlegray;
    padding: 0 0 70px;
  }

  & button {
    background: $darkblue;
    color: $white;
    border-radius: 12px;
    padding: 14px 24px;

    &:hover {
      color: $black;
      background-color: $white;
    }
  }
}

.small-line {
  width: 41px;
  border: 4px solid $darkerblue;
  border-radius: 12px;
  margin: 0 0 10px;
}

.guides {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 0 50px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 140px;
  }
}

.buyer-guides,
.renter-guides,
.seller-guides {
  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
  }

  & img {
    align-self: center;
    padding: 0 0 23px;
  }

  & h5 {
    font-family: $popins;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: $guides;
    padding: 0 0 10px;
  }

  & a {
    font-family: $popins;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: $links;
    padding: 0 0 10px;
  }
}

.featured-properties {
  background: $whiteblue;
  padding: 40px 40px;

  @media (min-width: 768px) {
    padding: 50px 65px;
  }

  @media (min-width: 1024px) {
    padding: 110px 165px;
  }

  & h2 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    color: $darkerblue;
    padding: 0 0 15px;
  }
}

.featured-text {
  display: flex;
  justify-content: space-between;
  padding: 0 0 70px;
  gap: 30px;

  @media (min-width: 768px) {
    gap: 0;
    flex-direction: column;
    padding: 0 0 30px;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    padding: 0 0 70px;
  }

  & p {
    font-family: $popins;
    font-size: 16px;
    line-height: 30px;
    color: $middlegray;
    width: 50%;
    text-align: center;

    @media (min-width: 768px) {
      width: unset;
      text-align: unset;
    }
  }

  & a {
    font-family: $popins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: $links;
    text-align: center;

    @media (min-width: 768px) {
      text-align: start;
    }

    @media (min-width: 1024px) {
      text-align: right;
    }
  }
}

.properties {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.property {
  &-1,
  &-2,
  &-3 {
    background: $white;
    border-radius: 12px;
    transition: transform 0.3s;

    & h4 {
      font-family: $popins;
      font-weight: 600;
      font-size: 20px;
      line-height: 20px;
      color: $darkerblue;
      padding: 20px 20px 8px;
    }

    & p {
      padding: 0 20px 23px;
    }

    & ul {
      display: flex;
      justify-content: space-between;
      padding: 0 20px 8px;
      margin: 0;

      @media (min-width: 768px) {
        flex-direction: column;
      }

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      & li img {
        padding-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &:hover {
      cursor: pointer;
      @media (min-width: 1024px) {
        transform: scale(1.1);
      }
    }
  }
}

.house-img {
  width: 100%;
}

.statistics {
  padding: 60px 30px 0px;

  @media (min-width: 1024px) {
    padding: 125px 50px 105px;
  }

  @media (min-width: 1440px) {
    padding: 125px 196px 105px;
  }
}

.users {
  width: 250px;
  height: 250px;
  box-shadow: 90px 85px 100px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 12px 12px;
  background: $white;
  padding: 45px 25px;
  margin: 0 auto;

  @media (min-width: 768px) {
    margin: 0 auto;
  }

  @media (min-width: 1024px) {
    margin: unset;
  }

  & p {
    font-family: $popins;
    font-size: 12px;
    line-height: 18px;
    color: $graywhite;
    padding: 0 0 25px;
  }
}

.raising-arrow {
  width: 25px;
  height: 16px;
}

.user-profile-photos {
  width: 187px;
}

.users__numbers {
  display: flex;
  justify-content: space-between;

  & h4 {
    font-family: $popins;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: $darkerblue;
    padding: 0 0 8px;
  }
}

.house-and-text {
  display: flex;
  flex-direction: column;
  z-index: -1;
  text-align: center;

  @media (min-width: 768px) {
    flex-direction: column;
    text-align: unset;
    position: relative;
    top: -85px;
    z-index: -1;
    left: 5%;
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    top: -325px;
    left: -26px;
  }

  & img {
    width: 100vw;

    @media (min-width: 768px) {
      width: unset;
    }
  }

  &__text {
    padding: 0 45px 30px;

    @media (min-width: 768px) {
      padding: 30px 0;
      position: relative;
      top: -280px;
    }

    @media (min-width: 1024px) {
      padding: 160px 0 0 0;
      width: 30%;
      top: unset;
    }
  }

  & h3 {
    font-family: $popins;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: $darkerblue;
    padding: 0 0 20px;
  }

  & p {
    font-family: $popins;
    font-size: 16px;
    line-height: 30px;
    color: $middlegray;
  }
}

.line-break {
  border: 1px solid $whiteblue;
  width: 210px;
  margin: 0 0 25px;
}

.sale-sold {
  display: flex;
  justify-content: space-around;
  padding: 0 0 100px;
  flex-direction: column;
  text-align: center;
  gap: 20px;

  @media (min-width: 768px) {
    text-align: start;
    flex-direction: row;
    gap: unset;
    position: relative;
    top: -300px;
  }

  @media (min-width: 1024px) {
    text-align: center;
    top: -480px;
    padding: 0;
  }

  & h2 {
    font-family: $popins;
    font-weight: 600;
    font-size: 44px;
    line-height: 44px;
    color: #000000;
    padding: 0;

    @media (min-width: 768px) {
      padding: 0 0 22px;
    }

    @media (min-width: 1024px) {
      font-size: 64px;
      line-height: 64px;
    }
  }

  & p {
    font-family: $popins;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $lightgray;
  }
}

.get-started-now {
  background: $blue;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 418px;
  margin: 0 20px 110px;

  @media (min-width: 768px) {
    flex-direction: row;
    position: relative;
    top: -300px;
    margin: 0 20px 20px;
  }

  @media (min-width: 1024px) {
    top: -500px;
    margin: 0 65px;
  }

  @media (min-width: 1440px) {
    margin: 0 165px;
  }

  & img {
    height: 438px;
    position: relative;
    top: -20px;
    top: 20px;
    left: 11%;

    @media (min-width: 768px) {
      left: unset;
    }
  }
}

.get-started-now__text {
  color: $white;
  padding: 20px 20px 0px 20px;
  align-self: center;
  text-align: center;

  @media (min-width: 768px) {
    padding: 20px 0 0 50px;
    align-self: center;
    text-align: unset;
  }

  @media (min-width: 1024px) {
    padding: 150px 0 0 80px;
    align-self: unset;
  }

  @media (min-width: 1440px) {
    padding: 150px 0 0 80px;
  }

  & h3 {
    font-family: $popins;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    padding: 0 0 15px;
  }

  & p {
    font-family: $popins;
    font-size: 16px;
    line-height: 30px;
    padding: 0 0 20px;
  }

  & button {
    background: $white;
    color: $blue;
    border-radius: 12px;
    padding: 14px 22px;

    &:hover {
      color: $white;
      background-color: $gray;
    }
  }
}

.footer {
  padding: 0 65px 30px;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    position: relative;
    top: -300px;
    padding: 0 65px 50px;
  }

  @media (min-width: 1024px) {
    top: -400px;
    padding: 0 65px 60px;
  }

  @media (min-width: 1440px) {
    padding: 0 165px 60px;
  }
}

.footer__navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 30px;
  text-align: center;

  @media (min-width: 768px) {
    text-align: unset;
    flex-direction: row;
    gap: 80px;
    padding: 0 0 30px;
  }

  @media (min-width: 1024px) {
    gap: 140px;
    padding: 0 0 40px;
  }

  @media (min-width: 1440px) {
    gap: 185px;
    padding: 0 0 80px;
  }
}

.product,
.resources,
.company,
.get-in-touch {
  & li:first-child {
    font-family: $lato;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    padding: 0 0 42px;
  }

  & li {
    font-family: $popins;
    font-size: 16px;
    line-height: 24px;
    color: #7a7a7e;
    padding: 0 0 18px;
  }
}

.socials {
  display: flex;
  gap: 16px;
  justify-content: center;

  @media (min-width: 768px) {
    justify-content: unset;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }

  & img {
    align-self: center;

    @media (min-width: 768px) {
      align-self: unset;
    }
  }

  & p {
    font-family: $popins;
    font-size: 14px;
    line-height: 21px;
    color: $copyright;
  }
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}
